# Frontend (Vite)
VITE_POCKETBASE_URL=http://127.0.0.1:8090

# Script de seed (credenciales del admin creadas en http://127.0.0.1:8090/_/)
PB_URL=http://127.0.0.1:8090
PB_ADMIN_EMAIL=
PB_ADMIN_PASSWORD=
